.list-reply li {
}

.write-box {
    width: 100%;
    overflow: hidden;
}

.write-author-info {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}

.write-author-info input {
    display: block;
    width: calc(50% - 42px);
    padding: 11px 20px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    float: left;
}

.write-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}

.write-content textarea {
    display: block;
    width: calc(100% - 42px);
    height: 150px;
    padding: 21px 21px 19px 19px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    resize: none;
}

.write-button {
    width: 100%;
    text-align: right;
    overflow: hidden;
    margin: 0 auto;
}

.write-button input {
    display: block;
    width: 70px;
    height: 30px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
}

.parents {
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: 16px;
    border-top: 1px solid #909090;
    box-sizing: border-box;
    color: #909090;
}

.parents > .content-info {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}

.parents > .content-info > div {
    line-height: 1.6;
}

.parents .list-author {
    color: #000000;
    font-weight: bold;
    float: left;
}

.parents .list-bridge {
    padding: 0 1%;
    float: left;
}

.parents .list-date {
    float: left;
}

.parents .list-button {
    width: 10%;
    float: right;
    overflow: hidden;
    text-align: right;
}

.parents .list-update-button {
    width: 50%;
    cursor: pointer;
    float: left;
}

.parents .list-delete-button {
    width: 50%;
    cursor: pointer;
    float: right;
}

.parents > .content-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
}

.parents > .re-comment {
    width: 100%;
}

.parents > .re-comment > .re-comment-button {
    cursor: pointer;
}

.update-author-info {
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}

.update-author-info > input {
    display: block;
    width: calc(50% - 42px);
    padding: 11px 20px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    float: left;
}

.update-content {
    display: block;
    width: calc(100% - 42px);
    height: 150px;
    padding: 21px 21px 19px 19px;
    margin-bottom: 2%;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    resize: none;
}

.update_comment-button {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
}

.delete-author-info {
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}

.delete-author-info > input {
    display: block;
    width: calc(100% - 42px);
    padding: 11px 20px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
}

.delete_comment-botton {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
}

.re-comment-box {
    width: 100%;
    overflow: hidden;
}

.re-comment-author-info {
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}

.re-comment-author-info > input {
    display: block;
    width: calc(50% - 42px);
    padding: 11px 20px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    float: left;
}

.re-comment-content {
    display: block;
    width: calc(100% - 42px);
    height: 150px;
    padding: 21px 21px 19px 19px;
    margin-bottom: 2%;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    resize: none;
}

.re-comment-btn {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
}

.child {
    width: 100%;
    padding: 2% 0;
    padding-left: 5%;
    margin-bottom: 3%;
    font-size: 16px;
    border-top: 1px solid #909090;
    box-sizing: border-box;
    color: #909090;
}

.child > .content-info {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}

.child > .content-info > div {
    line-height: 1.6;
}

.child .list-author {
    color: #000000;
    font-weight: bold;
    float: left;
}

.child .list-bridge {
    padding: 0 1%;
    float: left;
}

.child .list-date {
    float: left;
}

.child .list-button {
    width: 10%;
    float: right;
    overflow: hidden;
    text-align: right;
}

.child .list-update-button {
    width: 50%;
    cursor: pointer;
    float: left;
}

.child .list-delete-button {
    width: 50%;
    cursor: pointer;
    float: right;
}

.child > .content-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
}