/*폰트 지정*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html {
    font-family: 'Noto Sans KR', sans-serif;

    display: flex;
    justify-content: center;
}

@media ( min-width: 1366px ) {
    .wrapper {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        min-height: 10vh;
    }
    .content {
        width: 728px;
    }
    .sidebar {
        width: 200px;
    }
}
@media ( max-width: 768px ) {
    img {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}




/* 링크 색 */
a {
    color: rgb(226, 109, 31);
    text-decoration: none;
}
a:visited {
    color: rgb(110, 62, 30);
    text-decoration: none;
}

.content blockquote {
    /* width: 95; */
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid;    
}


img[src$='#center'] {
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft'] {
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright'] {
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}


.mjx-chtml {
	overflow-x: hidden;
	overflow-y: hidden;
  vertical-align: middle;
}
.mjx-chtml:hover {
	overflow-x: auto;
	overflow-y: hidden;
  vertical-align: middle;
} /*수식 가로 스크롤 추가*/