/*폰트 지정*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 반응형 웹페이지 */
@media screen and ( max-width: 954px ) {
    .wrapper {
        min-height: 10vh;
    }
    .content img {
        width: 100%;
    }
    .content {
        float: left;
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}
/* 데스크탑 */
@media screen and ( min-width: 954px ) {
    html {
        display: flex;
        justify-content: center;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        min-height: 10vh;
    }
    .content {
        width: 728px;
    }
    .sidebar {
        margin-left: 8px;
        width: 218px;
    }
}

/*수식 가로 스크롤 추가*/
.mjx-chtml {
	overflow-x: hidden;
	overflow-y: hidden;
  vertical-align: middle;
}
.mjx-chtml:hover {
	overflow-x: auto;
	overflow-y: hidden;
  vertical-align: middle;
}

/* 링크 색 */
a {
    color: rgb(226, 109, 31);
    text-decoration: none;
}
a:visited {
    color: rgb(110, 62, 30);
    text-decoration: none;
}

.content blockquote {
    /* width: 95; */
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid;    
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}
th, td {
    border: 1px solid;
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft'] {
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright'] {
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}
