/*폰트 지정*/
 /* 240215 류대식: LaTeX 폰트로 해보니까 가독성이 너무 떨어짐 https://github.com/vsalvino/computer-modern */ /* @import url("https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/concrete.css"); */
 /* 240215 류대식: Noto Sans가 한국어 일본어 다 포함하는거였음 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html {
    font-family: "Roboto", 'Noto Sans KR', sans-serif;
    /* font-family: "Computer Modern Concrete", "Noto Sans KR", serif; */
    /* font-family: Consolas; */
}

/* 반응형 웹페이지 */
@media screen and ( max-width: 954px ) {
    .wrapper {
        min-height: 10vh;
    }
    .content {
        float: left;
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}
/* 데스크탑 */
@media screen and ( min-width: 954px ) {
    html {
        display: flex;
        justify-content: center;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        min-height: 10vh;
    }
    .content {
        width: 728px;
    }
    .sidebar {
        margin-left: 8px;
        width: 228px;
    }

    .innerheader {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .innertic {
        text-align: center;
    }
    .innertoc {
        padding: 1em;
        min-width: 200px;
    }
    .innertoc:hover {
        border-radius: 1em;
        background-color: rgb(255,204,000);
    }
}


/* 수식 지원 START */
.katex-display {
    padding-top:0.5em;
    padding-bottom:0.5em;
    overflow: hidden;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
}
.katex-display:hover { overflow: auto hidden }
/* (23.05.05, 전) katex 한글 폰트 지정  */
.katex .hangul_fallback {
	/* font-family: Nanum Gothic */
	font-family: 'Nanum Myeongjo'
	/* font-family: 'Noto Sans KR' */    
}
/* 수식 지원 END */

/* 인라인 코드 START */
code { 
    font-family: consalas, monospace;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    margin: 0px;
    padding-top:0px;
    padding-bottom:0px;
    display: inline-block;
    /* color: red; */
}
/* 인라인 코드 END */

/* 링크 모양 START */
/* 링크 색 */
a {
    color: black;
    word-break: break-all;
    text-decoration: none;
}
/* 본문 링크 */
.content a {
    color: rgb(14, 66, 185);
    font-weight: bold;
    text-decoration: none;
    overflow-x: scroll;
}
/* TOC 링크 */
#TableOfContents a {
    color: black;
}
/* 링크 모양 END */

/* 본문 모양 START */
.content p {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/* 문단 두번째부터만 들여쓰기 (23.04.27) 류대식
첫번째부터 넣으면 인용칸이 이상해짐 */
/* .content p + p {
    text-indent: 1em;
} */
.content ul {
    margin-top: 0px;
    margin-bottom: 0.5px;
}
.content ol {
    margin-top: 0px;
    margin-bottom: 0.5px;
}
.content h2 {
    /* color: white; */
    /* background-color: black; */
    border-bottom: 1px solid lightgray;
}
.content h3 {
    margin-left: 0.5em;
    text-shadow: 1px 1px 1px #eee, 1px 1px 1px #000;
    /* font-style: italic; */
    /* border-left: 1px wavy; */
    /* text-decoration: wavy underline; */
}
.content h4 {
    margin-left: 1em;
    font-style: oblique;
}
.content hr { /* https://hianna.tistory.com/701 */
    width: 95%;
    border: 0px;
    border-top: 1px dashed lightgray;
}
/* 인용구 스타일 변경 (23.04.27) 류대식 */
.content blockquote {
    margin-left: 2em;
    margin-right: 1em;
    /* background-color: rgba(0,0,0,0.05); */
    border: 1px dashed;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    font-size: 0.9rem;
}
/* 인용구 링크
인용구 바탕이 흰 색일 땐 의미 없음 (23.04.27) 류대식 */
/* .content blockquote a {
    color: navy;
} */
/* 본문 모양 END */

/* 표 시작 */
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    word-break: break-all;
    /* border: 1px solid; */
}
th, td{
    border: 1px solid;
    padding-left: 0.5em;      /* (23.05.19, 전) */
    padding-right: 0.5em;     /* (23.05.19, 전) */
    padding-top: 0.2em;       /* (23.05.19, 전) */
    padding-bottom: 0.2em;    /* (23.05.19, 전) */
}
/* (23.05.04, 전) 빈 테이블 양식 추가 */
.empty-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    word-break: break-all;
    border: 0px solid
}
/* 표 끝 */

/* 시작(23.05.10, 류) 수도코드 속성 시작 */
.pseudocode-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}
.pseudocode-table:hover { overflow: auto hidden } /* 모바일 환경 등에서 가로 스크롤 */
.pseudocode-table table {
    width: 700px; /* 픽셀 말고 %로 하면 모바일에서 다 깨짐 */
}
.pseudocode-table th {
    font-size: 1.2em;
    max-width: 2em;
    border: 0px;
    border-top: 2.5px solid;
    white-space: nowrap; /* 마크다운에서는 colspan(열병합) 지원 안해서 */
}
.pseudocode-table tbody{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.pseudocode-table td{
    vertical-align: top; /* 여러줄인 경우 번호에 맞게 상단정렬 */
    border: 0px; /* 기본적으로 수도코드 표라서 공백처럼 보이게 */
}
.pseudocode-table td:nth-child(1) {
    /* 첫번째 열은 인덱스 및 인풋, 아웃풋을 확인하기 위함 */
    text-align: right;
    font-weight: bold;
    max-width: 2em;
    padding-right: 1em;
}
.pseudocode-table td:nth-child(3) {
    /* 세번째 열은 주석 */
    text-align: right;
    font-style: italic;
    color: gray;
    max-width: 300px;
}
/* (23.05.10, 류) 수도코드 속성 끝*/

/* 치트시트 테이블 속성 시작 */
.cs-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    word-break: break-all;
    border: 0px solid
}
.cs-table thead{
    border: 0px solid;
    background-color:#FEAB99;
    text-align: center;
    table-layout: fixed;
    border: 0px
}
.cs-table td{
    border: 0px solid
}
.titlerow{
    font-weight: bold;
    text-align: left;
    table-layout: fixed
}
.items{
    text-align: left;
    border-bottom: 1px solid rgba(128,128,128,0.5);
    font-size: 10pt;
    font-family:'Courier New', Courier, monospace;
    table-layout: fixed;
    width: 182
}
.comment{
    font-style: italic;
    color: green
}
/* 치트시트 테이블 속성 끝 */

/* 이미지 정렬 START */
img {
    max-width: 100%;
    height: auto;
}
img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
}
img[src$='#floatleft'] {
    float:left;
    margin: 0.7rem;
}
img[src$='#floatright'] {
    float:right;
    margin: 0.7rem;
}
/* 이미지 정렬 END */

/* 댓글 작성창 START */
input {
    border-radius: 8px;
}
textarea {
    border-radius: 8px;
}
/* 댓글 작성창 END */

/** sidebar 카테고리 START **/
.resetmute{text-align: center;}
.btnReset{display :inline-block;}
.btnMute{display :inline-block;}
/** sidebar 카테고리 END **/

/** sidebar 최근 댓글 START **/
.current-reply {
    list-style-type: none;
    padding-left: 4px;
}
.current-reply .current-reply-list {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
/** sidebar 최근 댓글 END **/

/* sidebar 최근 포스트 START */
.lately-viewed-list .lv-list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
}
/* sidebar 최근 포스트 END */

/** ----------------------------------------------------------- **/

/** 옛날에 있던 F2 서치 기능, 24년 3월 이후 발견시 그냥 삭제 START **/
/* #fastSearch { 
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    width: 300px;
  }      

#fastSearch input { 
padding: 4px 10px;
width: 100%;
height: 1.2em;
font-size: 1em;
color: #aaa;
font-weight: bold;
background-color: #000;
border-radius: 3px 3px 3px 3px;
border: none;
outline: none;
text-align: left;
display: inline-block;
}

#searchResults li { 
list-style: none;
color: white;
background-color: #333; 
border-bottom: 1px dotted #000;
z-index: 2; */
/* (24.01.16 류) 광고에 가리지 않게 수정*/
/* }
#searchResults li .title {
    font-size: 1em;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
} */
/* (24.01.16 류) 의미 없는 것 같아서 주석처리*/
/* #searchResults li .postid {
    font-size: 1em;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
} */

/* #searchResults {
    visibility: inherit;
    display: inline-block;
    margin-top: 0px;
    margin-left: -40px;
    width: 320px;
}
#searchResults a {
    text-decoration: none !important;
    padding: 1px;
    display: inline-block;
}
#searchResults a:hover {
    outline: 0;
    background-color: #666;
    color: #fff;
}

.blind {
    opacity: 0.05;
} */
/** 옛날에 있던 F2 서치 기능, 24년 3월 이후 발견시 그냥 삭제 END **/