.parents {
    margin: 2rem 2.5% 0.5rem 35%;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    box-sizing: border-box;
    color: white;
    background-color: gray;
    position: relative; /* 꼬리를 위한 위치 지정 */
}
.parents:after { /* 꼬리 테두리를 위한 가상 요소 */
    content: '';
    position: absolute;
    top: 24px; /* 꼬리 위치 조정 */
    left: 100%; /* 꼬리 위치 조정 */
    border-width: 15px 20px 10px 0px;
    border-style: solid;
    border-color: gray transparent transparent transparent; /* 말풍선과 같은 색 */
}
.parents > .content-info {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}
.parents > .content-info > div {
    line-height: 1.6;
}
.parents .list-author {
    color: white;
    font-weight: bold;
    float: left;
}
.parents .list-bridge {
    padding: 0 1%;
    float: left;
}
.parents .list-date {
    float: left;
}
.parents .list-button {
    width: 40px;
    float: right;
    overflow: hidden;
    text-align: right;
}
.parents .list-update-button, .list-delete-button {
    width: 45%;
    cursor: pointer;
    float: left;
}
.parents .list-delete-button {
    margin-left: 10%; /* 수정 버튼과 삭제 버튼 사이의 간격 추가 */
}
.parents .list-update-button:hover,
.parents .list-delete-button:hover {
    color: #000000;
    font-weight: bold;
}
.parents > .content-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
}
.parents > .re-comment {
    width: 100%;
}
.parents > .re-comment > .re-comment-button {
    cursor: pointer;
}
.parents > .re-comment > .re-comment-button:hover {
    color: #000000;
    font-weight: bold;
}


.parentself {
    margin: 0.5rem 2.5% 0.5rem 35%;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    box-sizing: border-box;
    color: white;
    background-color: gray;
    position: relative; /* 꼬리를 위한 위치 지정 */
}
.parentself:after { /* 꼬리 테두리를 위한 가상 요소 */
    content: '';
    position: absolute;
    top: 24px; /* 꼬리 위치 조정 */
    left: 100%; /* 꼬리 위치 조정 */
    border-width: 15px 20px 10px 0px;
    border-style: solid;
    border-color: gray transparent transparent transparent; /* 말풍선과 같은 색 */
}
.parentself > .content-info {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}
.parentself > .content-info > div {
    line-height: 1.6;
}
.parentself .list-author {
    color: white;
    font-weight: bold;
    float: left;
}
.parentself .list-bridge {
    padding: 0 1%;
    float: left;
}
.parentself .list-date {
    float: left;
}
.parentself .list-button {
    width: 40px;
    float: right;
    overflow: hidden;
    text-align: right;
}
.parentself .list-update-button, .list-delete-button {
    width: 45%;
    cursor: pointer;
    float: left;
}
.parentself .list-delete-button {
    margin-left: 10%; /* 수정 버튼과 삭제 버튼 사이의 간격 추가 */
}
.parentself .list-update-button:hover,
.parentself .list-delete-button:hover {
    color: #000000;
    font-weight: bold;
}
.parentself > .content-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
}
.parentself > .re-comment {
    width: 100%;
}
.parentself > .re-comment > .re-comment-button {
    cursor: pointer;
}
.parentself > .re-comment > .re-comment-button:hover {
    color: #000000;
    font-weight: bold;
}


.child {
    margin: 0.5rem 35% 0.5rem 2.5%;
    padding: 0.5rem 1rem 0rem 1rem;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid gray;
    background-color: white;
    position: relative; /* 꼬리를 위한 위치 지정 */
}
.child:after { /* 꼬리 테두리를 위한 가상 요소 */
    content: '';
    position: absolute;
    top: 24px; /* 꼬리의 세로 위치 조정 */
    right: 100%; /* 왼쪽으로부터의 거리, 꼬리가 밖으로 나가도록 */
    border-width: 15px 0 10px 20px; /* 직각 삼각형 모양을 만들기 위한 테두리 너비 조정 */
    border-style: solid;
    border-color: white transparent transparent transparent; /* 왼쪽 면에 색상 적용, 나머지는 투명 */
}
.child:before { /* 꼬리 배경을 위한 가상 요소 */
    content: '';
    position: absolute;
    top: 22px; /* 꼬리의 세로 위치 조정 */
    right: 100%; /* 왼쪽으로부터의 거리, 꼬리가 밖으로 나가도록 */
    border-width: 20px 0px 10px 25px; /* 직각 삼각형 모양을 만들기 위한 테두리 너비 조정 */
    border-style: solid;
    border-color: gray transparent transparent transparent; /* 왼쪽 면에 색상 적용, 나머지는 투명 */
}
.child > .content-info {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}
.child > .content-info > div {
    line-height: 1.6;
}
.child .list-author {
    color: #000000;
    font-weight: bold;
    float: left;
}
.child .list-bridge {
    padding: 0 1%;
    float: left;
}
.child .list-date {
    float: left;
}
.child .list-button {
    width: 40px;
    float: right;
    overflow: hidden;
    text-align: right;
}
.child .list-update-button, .list-delete-button {
    width: 45%;
    cursor: pointer;
    float: left;
}
.child .list-delete-button {
    margin-right: 10%; /* 수정 버튼과 삭제 버튼 사이의 간격 추가 */
}
.child .list-update-button:hover,
.child .list-delete-button:hover {
    color: #000000;
    font-weight: bold;
}
.child > .content-text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
}
.child > .re-comment {
    width: 100%;
}
.child > .re-comment > .re-comment-button {
    cursor: pointer;
}
.child > .re-comment > .re-comment-button:hover {
    color: #000000;
    font-weight: bold;
}

/* 이하로는 코어 속성이므로 되도록 건들지 말 것 */

/* 댓글 작성 */
.write-box {
    margin: 0.5rem 2.5% 0.5rem 35%;
    overflow: hidden;
}
.write-author-info {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}
.write-author-info input {
    display: block;
    width: 50%;
    height: 2rem;
    border-radius: 0px;
    color: black;
    border: 0px solid black;
    background-color: lightgray;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.write-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    overflow: hidden;
}
.write-content textarea {
    width: 100%;
    height: 4rem;
    border-radius: 0px;
    padding: 1rem;
    box-sizing: border-box;
    border: 0px solid black;
    color: black;
    background-color: lightgray;
    resize: vertical;
}
.write-button {
    padding: 4px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    text-align: center;
    vertical-align: middle;
    margin-left: 1rem;
}


/* 댓글 수정 */
.update-author-info {
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}
.update-author-info > input {
    display: block;
    width: calc(50% - 42px);
    padding: 11px 20px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    float: left;
}
.update-content {
    display: block;
    width: calc(100% - 42px);
    height: 150px;
    padding: 21px 21px 19px 19px;
    margin-bottom: 2%;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    resize: none;
}
.update_comment-button {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    text-align: center;
}

/* 댓글 삭제 */
.delete-author-info {
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}
.delete-author-info > input {
    display: block;
    width: calc(100% - 42px);
    padding: 11px 20px;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
}
.delete_comment-botton {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
}

/* 대댓글 작성 */
.re-comment-box {
    width: 100%;
    overflow: hidden;
}
.re-comment-author-info {
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}
.re-comment-author-info > input {
    display: block;
    width: 50%;
    height: 2rem;
    border-radius: 0px;
    color: black;
    border: 0px solid black;
    background-color: lightgray;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.re-comment-content {
    display: block;
    width: calc(100% - 42px);
    height: 150px;
    padding: 21px 21px 19px 19px;
    margin-bottom: 2%;
    border: 1px solid #E8E8E8;
    font-size: 13px;
    color: #999999;
    box-sizing: content-box;
    resize: none;
}
.re-comment-btn {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    text-align: center;
}
.re-comment-box textarea {
    width: 100%;
    height: 4rem;
    border-radius: 0px;
    padding: 1rem;
    box-sizing: border-box;
    border: 0px solid black;
    color: black;
    background-color: lightgray;
    resize: vertical;
}
